fastapi
uvicorn
alpaca-py
pandas
pandas_ta
torch
typing-extensions
httpx[http2]
websockets
python-dotenv
asyncpg
async-timeout
pandas_market_calendars
aiohttp
psycopg2
hydra-core>=1.3.2
gin-config>=0.5.0
